<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.justchill.android.learnachord"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <supports-screens android:anyDensity="true" android:largeScreens="true" android:xlargeScreens="true" />



    <!--android:windowSoftInputMode="stateAlwaysHidden" -> to not show keyboard when opening activity -->

    <application
        android:allowBackup="false"
        android:icon="@mipmap/learn_achord_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/learn_achord_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication"
        android:windowSoftInputMode="stateAlwaysHidden"
        android:largeHeap="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:resizeableActivity="true"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/options"
            android:parentActivityName=".MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            tools:targetApi="jelly_bean">
            <!-- To support android 4.0 and lower: -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".quiz.ChooseQuizModeActivity"
            android:label="@string/quiz"
            android:parentActivityName=".MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            tools:targetApi="jelly_bean">
            <!-- To support android 4.0 and lower: -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".quiz.ModeOneActivity"
            android:label="@string/quiz_mode_one_title"
            android:parentActivityName=".quiz.ChooseQuizModeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            tools:targetApi="jelly_bean">
            <!-- To support android 4.0 and lower: -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".quiz.ChooseQuizModeActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".quiz.ModeTwoActivity"
            android:label="@string/quiz_mode_two_title"
            android:parentActivityName=".quiz.ChooseQuizModeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            tools:targetApi="jelly_bean">
            <!-- To support android 4.0 and lower: -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".quiz.ChooseQuizModeActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".quiz.ModeThreeActivity"
            android:label="@string/quiz_mode_three_title"
            android:parentActivityName=".quiz.ChooseQuizModeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            tools:targetApi="jelly_bean">
            <!-- To support android 4.0 and lower: -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".quiz.ChooseQuizModeActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".firebase.UserProfileActivity"
            android:label="@string/user_profile_activity_label"
            android:parentActivityName=".MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            tools:targetApi="jelly_bean">
            <!-- To support android 4.0 and lower: -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- android:stopWithTask="true" calls services onDestroy when app is completely closed -->
        <service
            android:name="com.justchill.android.learnachord.ServicePlayer"
            android:stopWithTask="true"
            android:enabled="true"/>
        
        <provider
            android:authorities="com.justchill.android.learnachord"
            android:name=".database.DataProvider"
            android:exported="false"/>
        
        <receiver android:name=".notifications.StartOnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="android.allow_multiple_resumed_activities" android:value="true" />

    </application>

</manifest>